@import "../../../../../utils/common-style/variables";
@import "../../../../../utils/common-style/buttons";

.landing {
  .categories {
    background: $white-color;
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 1rem;
    a {
      @extend .btn-hollow;
      font-size: x-large;
      display: inline-block;
      min-width: 240px;
    }
  }
}
