// colors
$primary-color: #e00a7f;
$secondary-color: #2a2a28;
$black-color: #000;
$white-color: #fff;

// animation
$animation-duration: 500ms;

// navbar height related
$navbarHeight: 100px;
$transition-vertical-distance: 16px;

// responsiveness
$regular: 800px;
$medium: 600px;
$small: 420px;
$x-small: 330px;
